#loading,
#results {
  display: none;
  margin-top: 1rem;
}

body > div {
  height: 100vh;
}

footer {
  text-align: center;
  padding: 2rem 0;
  line-height: 2;
}

footer p {
  margin: 0;
}

footer a {
  color: #fff;
}

footer a:hover {
  text-decoration: none;
  color: #fff;
}
